<span class="subForumsLink" id="ddm-subforums-link-<%= id %>-span">
    <a href="javascript:void(0);" id="ddm-subforums-link-<%= id %>-link" data-menu="ddm-subforums-link-<%= id %>" data-link="ddm-subforums-link-<%= id %>-link" data-ignored="ddm-subforums-link-<%= id %>-icon,ddm-subforums-link-<%= id %>-span" onclick="openDropDownMenu(this);"><%= locale.forumsHelper.subForumsLink %><i class="fa-solid fa-caret-down" id="ddm-subforums-link-<%= id %>-icon"></i></a>
</span>