<form name="signinform" id="signinform" action="<%= urls.action %>" method="post" enctype="application/x-www-form-urlencoded">
    <div class="signInBox">
        <div class="signInBoxHeader"><%= locale.auth.memberSignInTitle %></div>
        <div class="signInBoxContent">
            <% if (signInErrorBox) { %>
                <%- signInErrorBox %>
            <% } %>
            <div class="formGroup">
                <% if (settings.allowSignInWithUsername) { %>
                    <input type="text" name="identity" id="identity-input" placeholder="<%= locale.auth.usernameEmailPlaceholder %>">
                    <label for="identity-input"><%= locale.auth.usernameEmailPlaceholder %></label>
                <% } else { %>
                    <input type="text" name="identity" id="identity-input" placeholder="<%= locale.auth.EmailPlaceholder %>">
                    <label for="identity-input"><%= locale.auth.EmailPlaceholder %></label>
                <% } %>
            </div>
            <div class="formGroup relative">
                <span class="passwordToggle"><a href="javascript:void(0);" class="tooltip tooltip--top" data-title="<%= locale.auth.togglePasswordTooltip %>" data-field="password-input" data-icon="password-input-icon" data-icon-password="fa-solid fa-eye" data-icon-text="fa-solid fa-eye-slash" onclick="togglePassword(this);"><i class="fa-solid fa-eye" id="password-input-icon"></i></a></span>
                <input type="password" name="password" id="password-input" placeholder="<%= locale.auth.passwordPlaceholder %>" class="passwordField">
                <label for="password-input"><%= locale.auth.passwordPlaceholder %></label>
            </div>
            <div class="fieldsGrid">
                <div class="forgotPassword"><a href="<%= urls.forgotPassword %>"><%= locale.auth.forgotPassword %></a></div>
                <div>
                    <div class="checkboxGrid">
                        <div>
                            <div class="checkbox">
                                <span class="checkbox">
                                    <input type="checkbox" name="rememberMe" value="1" id="rememberme-checkbox"<% if (settings.signInRememberMeChecked) { %> checked<% } %>>
                                    <svg>
                                    <use xlink:href="#checkbox" class="checkbox"></use>
                                    </svg>
                                </span>
                                <svg xmlns="http://www.w3.org/2000/svg" style="display:none">
                                    <symbol id="checkbox" viewBox="0 0 22 22">
                                    <path fill="none" stroke="currentColor" d="M5.5,11.3L9,14.8L20.2,3.3l0,0c-0.5-1-1.5-1.8-2.7-1.8h-13c-1.7,0-3,1.3-3,3v13c0,1.7,1.3,3,3,3h13 c1.7,0,3-1.3,3-3v-13c0-0.4-0.1-0.8-0.3-1.2"/>
                                    </symbol>
                                </svg>
                            </div>
                        </div>
                        <div>
                            <label for="rememberme-checkbox">
                                <span class="checkboxTitle"><%= locale.auth.rememberMeTitle %></span><br>
                                <span class="checkboxInfo"><%= locale.auth.rememberMeInfo %></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="buttonBox">
                <% if (csrfToken) { %>
                    <input type="hidden" name="_csrfToken" value="<%= csrfToken %>">
                <% } %>
                <input type="hidden" name="referer" value="<%= referer %>">
                <input type="submit" name="signinformsubmit" id="signinformsubmit" value="<%= locale.auth.signInButton %>">
            </div>
        </div>
    </div>
</form>