<div class="categoryHeader" id="category-<%= id %>-header">
    <div class="dualHorizontalGridCentered">
        <div><a href="<%= url %>"><%= title %></a></div>
        <div class="alignRight"><a href="javascript:void();" class="tooltip tooltip--top" data-title="Toggle" data-header="category-<%= id %>-header" data-content="category-<%= id %>-content" data-icon="category-<%= id %>-icon" data-icon-expanded="fa-solid fa-toggle-on" data-icon-collapsed="fa-solid fa-toggle-off" onclick="toggle(this);"><i class="fa-solid fa-toggle-on" id="category-<%= id %>-icon"></i></a></div>
    </div>
</div>
<div class="forumsContainer" id="category-<%= id %>-content">