<div class="postItemAttachmentsItem">
    <div class="postItemAttachmentsItemGrid">
        <div><%= fileName %></div>
        <div><%= fileSize %></div>
        <div><%- download.totalDownloads %></div>
        <div><a href="<%= download.url %>"><i class="fa-solid fa-download"></i><%= locale.attachmentEntity.downloadLink %></a></div>
    </div>
</div>