<div class="uploaderPreviewItem" id="uploader-preview-item-<%= uploaderId.
 %>">
    <div class="uploaderPreviewItemGrid">
        <div class="uploaderPreviewFileIcon"><i class="fa-solid fa-file"></i></div>
        <div class="uploaderFileName"><%= fileName %></div>
        <div class="uploaderFileSize"><%= fileSize %></div>
        <div class="uploaderPreviewAction alignCenter"><a href="javascript:void(0);" data-type="<%= type %>" data-id="<%= id %>"><i class="fa-solid fa-trash-can"></i><%= locale.uploadHelper.delete %></a></div>
    </div>
</div>